@model ConsentViewModel

<div >
    <div >
        @if (Model.ClientLogoUrl != null)
        {
            <div ><img src="@Model.ClientLogoUrl"></div>
        }
        <h1>
            @Model.ClientName
            <small >is requesting your permission</small>
        </h1>
        <p>Uncheck the permissions you do not wish to grant.</p>
    </div>

    <div >
        <div >
            <partial name="_ValidationSummary" />
        </div>
    </div>

    <form asp-action="Index">
        <input type="hidden" asp-for="ReturnUrl" />
        <div >
            <div >
                @if (Model.IdentityScopes.Any())
                {
                    <div >
                        <div >
                            <div >
                                <span ></span>
                                Personal Information
                            </div>
                            <ul >
                                @foreach (var scope in Model.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.ApiScopes.Any())
                {
                    <div >
                        <div >
                            <div >
                                <span ></span>
                                Application Access
                            </div>
                            <ul >
                                @foreach (var scope in Model.ApiScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div >
                    <div >
                        <div >
                            <span ></span>
                            Description
                        </div>
                        <div >
                            <input  placeholder="Description or name of device" asp-for="Description" autofocus>
                        </div>
                    </div>
                </div>

                @if (Model.AllowRememberConsent)
                {
                    <div >
                        <div >
                            <input  asp-for="RememberConsent">
                            <label  asp-for="RememberConsent">
                                <strong>Remember My Decision</strong>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div >
            <div >
                <button name="button" value="yes"  autofocus>Yes, Allow</button>
                <button name="button" value="no" >No, Do Not Allow</button>
            </div>
            <div >
                @if (Model.ClientUrl != null)
                {
                    <a  href="@Model.ClientUrl">
                        <span ></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </div>
    </form>
</div>
